.navbar{
    background-color:#20242c;
    height: 80px;
}
.navbar-left {
  display: flex;
  align-items: center;   
  gap: 35px;             
  margin: 0;
  padding: 0;
  list-style: none;

}

.navbar-right ul {
  display: flex;
  align-items: center;   
  gap: 15px;             
  margin: 0;
  padding: 0;
  list-style: none;
}
