.categories {
  background-color:var(--primary);
}


.categories .card{
    background-color:var(--black);
    color:var(--white);
    width:170px;
    margin-top: -80px; 
    z-index: 2;
    border-style: solid;
    border-color:var(--white)
}

.card h5 {
  white-space: nowrap;
}
