.hero{
    display: flex;
    flex-direction: row;
    background-color:#20242c;
    height: 100vh;
    color: aliceblue;
    
}
.hero-left, 
.hero-right {
  width: 50%;
}

.hero-left {
  width: 50%;   /* një kolonë për tekst */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* vendoset lart */
  padding-top: 130px;  
  padding-left: 40px;
  color: white;
}
.hero-left h3 {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.hero-right img {
 border-radius: 16px;
 width: 90%;
 margin-top: 100px;
 margin-left: 20px;
 height: 50%;
}
