.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.register-box {
  width: 400px;
  background:var(--primary);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.register-box h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin: 10px 0 5px;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.checkbox-row {
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  margin: 15px 0;
}

.checkbox-row input {
  margin-right: 8px;
}

.checkbox-row a {
  color: #f0b90b;
  text-decoration: none;
}

.btn-primary {
  background:rgb(99, 208, 99);
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-primary:hover {
  background:rgb(110, 230, 110);
}

.divider {
  text-align: center;
  margin: 15px 0;
  position: relative;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #c5c4c4;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.btn-google, .btn-apple {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #fff;
}

.btn-google:hover, .btn-apple:hover {
  background: #f9f9f9;
}
